<template>
    <div>
        <h3 class="text-bold text-teal">Create User</h3>
        <form class="mt-6 flex flex-wrap -mx-4" autocomplete="off" @submit.prevent="saveUser()" :disabled="loading">
            <div class="mb-4 w-full px-4">
                <label class="block text-grey-darker text-sm font-bold mb-2" for="email">
                    Email
                </label>
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker leading-tight" :class="{'border-red': errors.email}" id="email" type="email" placeholder="name@example.org" v-model="email">
                <p v-if="errors.email" class="text-red text-xs italic mt-3">{{ errors.email[0] }}</p>
            </div>

            <div class="mb-4 w-full px-4">
                <label class="block text-grey-darker text-sm font-bold mb-2" for="password">
                    Password
                </label>
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker leading-tight" :class="{'border-red': errors.password}" id="password" type="password" placeholder="**************" v-model="password">
                <p v-if="errors.password" class="text-red text-xs italic mt-3">{{ errors.password[0] }}</p>
            </div>

            <div class="mb-4 w-full px-4">
                <label class="block text-grey-darker text-sm font-bold mb-2" for="daily_calorie_limit">
                    Daily Calorie Limit
                </label>
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker leading-tight" :class="{'border-red': errors.daily_calorie_limit}" id="daily_calorie_limit" type="number" placeholder="Tuna Salad" v-model="dailyCalorieLimit">
                <p v-if="errors.daily_calorie_limit" class="text-red text-xs italic mt-3">{{ errors.daily_calorie_limit[0] }}</p>
            </div>

            <div class="px-4 text-right w-full">
                <button class="bg-teal hover:bg-teal-dark text-white font-bold py-2 px-4 rounded" type="submit" v-html="loading ? 'Saving...' : 'Create User'">
                </button>
            </div>
        </form>
    </div>
</template>

<script>
    import api from '../api';
    export default {
        data() {
            return {
                loading: false,
                email: "",
                password: "",
                dailyCalorieLimit: 2500,
                errors: {},
            }
        },
        methods: {
            saveUser() {
                if (this.loading) return;
                this.loading = true;
                this.errors = {};
                api.createUser({
                    email: this.email,
                    password: this.password,
                    daily_calorie_limit: this.dailyCalorieLimit,
                }).then(function (response) {
                    this.$emit('user-created', response.data);
                    this.email = "";
                    this.password = null;
                    this.dailyCalorieLimit = 2500;
                    this.loading = false;
                }.bind(this)).catch (function (error) {
                    this.errors = error.response.data.errors;
                    this.loading = false;
                }.bind(this));
            }
        },
        computed: {
            store() {
                return this.$root.$data.store;
            },
            state() {
                return this.$root.$data.store.state;
            }
        }
    }
</script>
