<template>
        <div>
            <h3 class="text-bold text-teal">Log Meal</h3>
            <form class="mt-6 flex flex-wrap -mx-4" autocomplete="off" @submit.prevent="saveMeal()" :disabled="loading">
                <div class="mb-4 w-full sm:w-1/2 px-4">
                    <label class="block text-grey-darker text-sm font-bold mb-2" for="text">
                        Text
                    </label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker leading-tight" :class="{'border-red': errors.text}" id="text" type="text" placeholder="Tuna Salad" v-model="text" dusk="text">
                    <p v-if="errors.text" class="text-red text-xs italic mt-3">{{ errors.text[0] }}</p>
                </div>

                <div class="mb-4 w-full sm:w-1/2 px-4">
                    <label class="block text-grey-darker text-sm font-bold mb-2" for="calories">
                        Calories
                    </label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker leading-tight" :class="{'border-red': errors.calories}" id="calories" type="number" placeholder="Tuna Salad" v-model="calories" name="calories">
                    <p v-if="errors.calories" class="text-red text-xs italic mt-3">{{ errors.calories[0] }}</p>
                </div>

                <div class="mb-4 w-full sm:w-1/2 px-4">
                    <label class="block text-grey-darker text-sm font-bold mb-2" for="meal-time">
                        Meal Date
                    </label>
                    <date-picker
                        id="meal-time"
                        v-model="mealDate"
                        type="date"
                        lang="en"
                        format="YYYY-MM-DD"
                        :class="{'border-red': errors.meal_time}"
                        :input-class="'w-full shadow appearance-none border rounded py-2 px-3 text-grey-darker leading-tight font-sans text-base ' + (errors.meal_time ? 'border-red' : '')"
                        width="100%"
                    ></date-picker>
                    <p v-if="errors.meal_time" class="text-red text-xs italic mt-3">{{ errors.meal_time[0] }}</p>
                </div>

                <div class="mb-4 w-full sm:w-1/2 px-4">
                    <label class="block text-grey-darker text-sm font-bold mb-2" for="time-range">
                        Meal Time
                    </label>
                    <vue-timepicker
                        id="time-range"
                        class="time-picker-wrapper"
                        :minute-interval="30"
                        format="HH:mm"
                        v-model="mealTime"
                        :hide-clear-button="true"
                    ></vue-timepicker>
                </div>

                <div class="px-4 text-right w-full">
                    <button class="bg-teal hover:bg-teal-dark text-white font-bold py-2 px-4 rounded" type="submit" v-html="loading ? 'Saving...' : 'Save Meal'" dusk="save-meal-button">
                    </button>
                </div>
            </form>
        </div>
</template>

<script>
    import api from '../api';
    import store from '../store';
    import moment from 'moment';
    import DatePicker from 'vue2-datepicker'
    import VueTimepicker from 'vue2-timepicker'
    export default {
        components: { DatePicker, VueTimepicker },
        props: ['user'],
        data() {
            return {
                loading: false,
                text: "",
                mealTime: {HH: "", mm: ""},
                mealDate: null,
                calories: 500,
                errors: {},
            }
        },

        mounted() {
            this.setDefaultMealTime();
        },
        methods: {
            setDefaultMealTime() {
                // Round starting time to nearest 30 minutes
                let start = moment();

                let date = start
                    .subtract(start.minute() % 30, "minutes");

                this.mealDate = date.format("YYYY-MM-DD")
                this.mealTime = {HH: date.format("H"), mm: date.format("mm")}
            },
            saveMeal() {
                if (this.loading) return;
                this.loading = true;
                this.errors = {};
                api.createUserMeal(this.user.id, {
                    text: this.text,
                    calories: this.calories,
                    meal_time: moment(this.mealDate)
                        .hour(this.mealTime.HH)
                        .minute(this.mealTime.mm)
                        .format('YYYY-MM-DD HH:mm:ss')
                }).then(function (response) {
                    this.$emit('meal-created', response.data);
                    this.text = "";
                    this.mealTime = null;
                    this.calories = 500;
                    this.loading = false;
                    this.setDefaultMealTime();
                }.bind(this)).catch (function (error) {
                    this.errors = error.response.data.errors;
                    this.loading = false;
                }.bind(this));
            }
        },
        computed: {
            store() {
                return this.$root.$data.store;
            },
            state() {
                return this.$root.$data.store.state;
            }
        }
    }
</script>
