<template>
    <div class="bg-white shadow rounded p-4 my-2">
        <h3 class="text-bold text-teal">Filters</h3>
        <form class="mt-6 flex flex-wrap -mx-4" autocomplete="off">
            <div class="mb-4 w-full sm:w-1/2 px-4">
                <label class="block text-grey-darker text-sm font-bold mb-2" for="date-range">
                    Date Range
                </label>
                <date-picker
                    id="date-range"
                    v-model="dateRange"
                    type="date"
                    lang="en"
                    format="YYYY-MM-DD"
                    :class="{'border-red': errors.date_from}"
                    :input-class="'w-full shadow appearance-none border rounded py-2 px-3 text-grey-darker leading-tight font-sans text-base ' + (errors.date_from ? 'border-red' : '')"
                    width="100%"
                    :shortcuts="false"
                    range
                ></date-picker>
                <p v-if="errors.text" class="text-red text-xs italic mt-3">{{ errors.date_from[0] }}</p>
            </div>
            <div class="mb-4 w-full sm:w-1/2 px-4">
                <div class="flex -mx-2">
                    <div class="sm:w-1/2 px-2">
                        <label class="block text-grey-darker text-sm font-bold mb-2" for="time-range">
                            Eaten After
                        </label>
                        <vue-timepicker
                            id="time-range"
                            class="time-picker-wrapper"
                            :minute-interval="30"
                            format="HH:mm"
                            v-model="timeFrom"
                        ></vue-timepicker>
                    </div>
                    <div class="sm:w-1/2 px-2">
                        <label class="block text-grey-darker text-sm font-bold mb-2" for="time-range">
                            Eaten Before
                        </label>
                        <vue-timepicker
                            id="time-range"
                            class="time-picker-wrapper"
                            :minute-interval="30"
                            format="HH:mm"
                            v-model="timeTo"
                        ></vue-timepicker>
                    </div>
                </div>

            </div>
        </form>
    </div>
</template>

<script>
    import moment from 'moment';
    import DatePicker from 'vue2-datepicker'
    import VueTimepicker from 'vue2-timepicker'
    export default {
        components: { DatePicker, VueTimepicker },
        props: ['errors'],
        data() {
            return {
                dateRange: [null, null],
                timeFrom: {HH: "", mm: ""},
                timeTo: {HH: "", mm: ""},
            }
        },
        watch: {
            filters() {
                this.$emit('input', this.filters);
            }
        },
        computed: {
            timeFromString() {
                if (this.timeFrom.HH && this.timeFrom.mm) {
                    return this.timeFrom.HH + ':' + this.timeFrom.mm;
                }

                return null;
            },
            timeToString() {
                if (this.timeTo.HH && this.timeTo.mm) {
                    return this.timeTo.HH + ':' + this.timeTo.mm;
                }

                return null;
            },
            filters() {
                return {
                    date_from: this.dateRange[0] ? moment(this.dateRange[0]).format('YYYY-MM-DD') : null,
                    date_to: this.dateRange[1] ? moment(this.dateRange[1]).format('YYYY-MM-DD') : null,
                    time_from: this.timeFromString,
                    time_to: this.timeToString,
                };
            }
        }
    }
</script>
