<template>
    <div
        class="bg-white shadow rounded p-4 my-2 border-t-4"
        :class="{
            'border-green' : user.daily_calorie_limit >= meal.calories_consumed_this_day,
            'border-red' : user.daily_calorie_limit < meal.calories_consumed_this_day
        }"
    >
        <div class="flex justify-between">
            <div>{{ editableMeal.text }}</div>
            <div class="ml-2 text-xs flex-no-shrink">
                <a href="#" class="no-underline border rounded py-1 px-2 inline-block text-grey hover:text-teal hover:border-teal" :class="{'text-teal border-teal': isEditing}" @click.prevent="toggleEditing()">Edit</a>
                <a href="#" class="no-underline border rounded py-1 px-2 inline-block text-grey hover:text-red hover:border-red" @click.prevent="confirmDeleteMeal()">Delete</a>
            </div>
        </div>
        <div class="mt-4 text-sm flex justify-between text-grey-darker">
            <p><strong>{{ editableMeal.calories }}</strong> calories.</p>
            <p>{{ moment(editableMeal.meal_time).format('h:mm a') }}</p>
        </div>

        <form v-show="isEditing" class="mt-6 flex flex-wrap -mx-4 border-t pt-8" autocomplete="off" @submit.prevent="saveMeal()" :disabled="loading">
            <div class="mb-4 w-full px-4">
                <label class="block text-grey-darker text-sm font-bold mb-2" for="text">
                    Text
                </label>
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker leading-tight" :class="{'border-red': errors.text}" id="text" type="text" :placeholder="meal.text" v-model="editableMeal.text" dusk="meal-text">
                <p v-if="errors.text" class="text-red text-xs italic mt-3">{{ errors.text[0] }}</p>
            </div>

            <div class="mb-4 w-full sm:w-1/2 px-4">
                <label class="block text-grey-darker text-sm font-bold mb-2" for="meal-time">
                    Meal Time
                </label>
                <date-picker
                    id="meal-time"
                    v-model="editableMeal.meal_time"
                    type="datetime"
                    lang="en"
                    format="YYYY-MM-DD, HH:mm"
                    model="mealTime"
                    :class="{'border-red': errors.meal_time}"
                    :input-class="'w-full shadow appearance-none border rounded py-2 px-3 text-grey-darker leading-tight font-sans text-base ' + (errors.meal_time ? 'border-red' : '')"
                    width="100%"
                    :time-picker-options="timePickerOptions"
                ></date-picker>
                <p v-if="errors.meal_time" class="text-red text-xs italic mt-3">{{ errors.meal_time[0] }}</p>
            </div>

            <div class="mb-4 w-full sm:w-1/2 px-4">
                <label class="block text-grey-darker text-sm font-bold mb-2" for="calories">
                    Calories
                </label>
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker leading-tight" :class="{'border-red': errors.calories}" id="calories" type="number" placeholder="Tuna Salad" v-model="editableMeal.calories">
                <p v-if="errors.calories" class="text-red text-xs italic mt-3">{{ errors.calories[0] }}</p>
            </div>

            <div class="px-4 text-right w-full">
                <button class="bg-teal hover:bg-teal-dark text-white font-bold py-2 px-4 rounded" type="submit" v-html="loading ? 'Saving...' : 'Update Meal'" dusk="update-meal">
                </button>
            </div>
        </form>
    </div>
</template>

<script>
    import moment from 'moment';
    import api from '../api';
    import DatePicker from 'vue2-datepicker'
    export default {
        props: ['meal', 'user'],
        components: { DatePicker },
        data() {
            return {
                loading: false,
                isEditing: false,
                errors: {},
                editableMeal: {},
                moment: moment,
                timePickerOptions:{
                    start: '00:00',
                    step: '00:30',
                    end: '23:30',
                }
            }
        },
        mounted() {
            this.editableMeal = Vue.util.extend({}, this.meal)
        },
        methods: {
            confirmDeleteMeal() {
                this.$dialog.confirm("Are you sure you want to delete the meal '" + this.meal.text + "'?", {
                    loader: true
                }).then((dialog) => {

                    api.deleteUserMeal(this.user.id, this.meal.id)
                        .then(function () {
                            dialog.close();
                            this.$emit('meal-deleted', this.meal);
                        }.bind(this))
                })
            },
            saveMeal() {
                if (this.loading) return;
                this.loading = true;
                this.errors = {};
                api.updateUserMeal(this.user.id, this.editableMeal.id, {
                    text: this.editableMeal.text,
                    calories: this.editableMeal.calories,
                    meal_time: moment(this.editableMeal.meal_time).format('YYYY-MM-DD HH:mm:ss'),
                }).then(function (response) {
                    this.$emit('meal-updated', response.data);
                    this.loading = false;
                    this.isEditing = false
                }.bind(this)).catch (function (error) {
                    this.errors = error.response.data.errors;
                    this.loading = false;
                }.bind(this));
            },
            toggleEditing()
            {
                if (this.isEditing) {
                    this.editableMeal = Vue.util.extend({}, this.meal)
                }
                this.isEditing = ! this.isEditing;
            }
        },
        computed: {
            store() {
                return this.$root.$data.store;
            },
            state() {
                return this.$root.$data.store.state;
            },
        }
    }
</script>
