<template>
    <div>
        <div v-for="group in mealsGroupedByDate" class="mb-8 border-b pb-8">
            <div class="flex justify-between text-grey-darker text-sm">
                <p class="font-bold">{{ moment(group[0].meal_time).format('Do MMMM YYYY') }}</p>
                <p>
                    <span v-if="caloriesShowing(group) < group[0].calories_consumed_this_day">Showing <strong>{{ caloriesShowing(group) }}</strong> of </span>
                    <strong>{{ group[0].calories_consumed_this_day }}</strong> calories.
                </p>
            </div>
            <meal
                v-for="meal in group"
                :meal="meal"
                :user="user"
                :key="meal.id"
                v-on:meal-deleted="whenMealIsDeleted"
                v-on:meal-updated="whenMealIsUpdated"
            ></meal>
        </div>
    </div>
</template>

<script>
    import moment from 'moment';
    import api from '../api';
    export default {
        props: ['meals', 'user'],
        data() {
            return {
                moment: moment
            }
        },
        methods: {
            whenMealIsDeleted(meal) {
                this.$emit('meal-deleted', meal);
            },
            whenMealIsUpdated(meal) {
                this.$emit('meal-updated', meal);
            },
            caloriesShowing(group) {
                return group.reduce((total, m) => total + m.calories, 0);
            }
        },
        computed: {
            mealsGroupedByDate() {
                return _(_.groupBy(this.meals, m => moment(m.meal_time).format('YYYY-MM-DD')))
                    .toPairs()
                    .fromPairs()
                    .orderBy(['meal_time'], ['desc'])
                    .value()
            }
        }
    }
</script>
