<template>
    <div>
        <div class="mb-8 border-b pb-8">
            <user
                v-for="user in users"
                :user="user"
                :key="user.id"
                v-on:user-deleted="whenUserIsDeleted"
                v-on:user-updated="whenUserIsUpdated"
            ></user>
        </div>
    </div>
</template>

<script>
    import api from '../api';
    export default {
        props: ['users'],
        data() {
            return {
            }
        },
        methods: {
            whenUserIsDeleted(user) {
                this.$emit('user-deleted', user);
            },
            whenUserIsUpdated(user) {
                this.$emit('user-updated', user);
            }
        },
        computed: {
            store() {
                return this.$root.$data.store;
            },
            state() {
                return this.$root.$data.store.state;
            }
        }
    }
</script>
