<template>
    <div
        class="bg-white shadow rounded p-4 my-2 border-t-4"
        :class="{'border-teal': state.user.id == user.id}"
    >
        <div class="flex justify-between">
            <div>{{ editableUser.email }}</div>
            <div class="ml-2 text-xs flex-no-shrink">
                <router-link v-if="state.user.is_admin" :to="{path: '/users/' + user.id + '/meals'}" class="no-underline border rounded py-1 px-2 inline-block text-grey hover:text-teal hover:border-teal">Manage Meals</router-link>
                <a href="#" class="no-underline border rounded py-1 px-2 inline-block text-grey hover:text-teal hover:border-teal" :class="{'text-teal border-teal': isEditing}" @click.prevent="toggleEditing()">Edit</a>
                <a href="#" class="no-underline border rounded py-1 px-2 inline-block text-grey hover:text-red hover:border-red" @click.prevent="confirmDeleteUser()">Delete</a>
            </div>
        </div>
        <div class="mt-4 text-sm flex justify-between text-grey-darker">
            <p><strong>{{ editableUser.daily_calorie_limit }}</strong> calories/day.</p>
            <p class="font-bold">
                {{ editableUser.is_admin ? 'Admin' : editableUser.is_user_manager ? 'User Manager' : '' }}
            </p>
        </div>

        <form v-show="isEditing" class="mt-6 flex flex-wrap -mx-4 border-t pt-8" autocomplete="off" @submit.prevent="saveUser()" :disabled="loading">
            <div class="mb-4 w-full px-4">
                <label class="block text-grey-darker text-sm font-bold mb-2" for="email">
                    Email
                </label>
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker leading-tight" :class="{'border-red': errors.email}" type="email" :placeholder="user.email" v-model="editableUser.email">
                <p v-if="errors.email" class="text-red text-xs italic mt-3">{{ errors.email[0] }}</p>
            </div>
            <div class="mb-4 w-full px-4">
                <label class="block text-grey-darker text-sm font-bold mb-2" for="daily_calorie_limit">
                    Daily Calorie Limit
                </label>
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker leading-tight" :class="{'border-red': errors.daily_calorie_limit}" type="number" :placeholder="user.daily_calorie_limit" v-model="editableUser.daily_calorie_limit">
                <p v-if="errors.daily_calorie_limit" class="text-red text-xs italic mt-3">{{ errors.daily_calorie_limit[0] }}</p>
            </div>
            <div class="mb-4 w-full px-4">
                <label class="block text-grey-darker text-sm font-bold mb-2" >
                    Password
                </label>
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker leading-tight" :class="{'border-red': errors.password}" type="password" placeholder="Type in a new password or leave blank" v-model="editableUser.password">
                <p v-if="errors.password" class="text-red text-xs italic mt-3">{{ errors.password[0] }}</p>
            </div>

            <div class="mb-4 w-full px-4 md:flex md:items-center">
                <label class="block text-grey-darker font-bold">
                    <input class="mr-2 leading-tight" type="checkbox" v-model="editableUser.is_user_manager" :disabled="user.is_user_manager && state.user.id == user.id">
                    <span class="text-sm">
                        User Manager
                    </span>
                </label>
            </div>

            <div class="mb-4 w-full px-4 md:flex md:items-center" v-if="state.user.is_admin">
                <label class="block text-grey-darker font-bold">
                    <input class="mr-2 leading-tight" type="checkbox" v-model="editableUser.is_admin" :disabled="user.is_admin && state.user.id == user.id">
                    <span class="text-sm">
                        Admin
                    </span>
                </label>
            </div>

            <div class="px-4 text-right w-full">
                <button class="bg-teal hover:bg-teal-dark text-white font-bold py-2 px-4 rounded" type="submit" v-html="loading ? 'Saving...' : 'Update User'">
                </button>
            </div>
        </form>
    </div>
</template>

<script>
    import api from '../api';
    export default {
        props: ['user'],
        data() {
            return {
                loading: false,
                isEditing: false,
                errors: {},
                editableUser: {},
            }
        },
        mounted() {
            this.editableUser = Vue.util.extend({}, this.user)
        },
        methods: {
            confirmDeleteUser() {
                this.$dialog.confirm("Are you sure you want to delete the user '" + this.user.email + "'?", {
                    loader: true
                }).then((dialog) => {

                    api.deleteUser(this.user.id)
                        .then(function () {
                            dialog.close();
                            this.$emit('user-deleted', this.user);
                        }.bind(this))
                })
            },
            saveUser() {
                if (this.loading) return;
                this.loading = true;
                this.errors = {};
                api.updateUser(this.editableUser.id, this.updateUserData).then(function (response) {
                    this.$emit('user-updated', response.data);
                    this.loading = false;
                    this.isEditing = false
                }.bind(this)).catch (function (error) {
                    this.errors = error.response.data.errors;
                    this.loading = false;
                }.bind(this));
            },
            toggleEditing()
            {
                if (this.isEditing) {
                    this.editableUser = Vue.util.extend({}, this.user)
                }
                this.isEditing = ! this.isEditing;
            }
        },
        computed: {
            store() {
                return this.$root.$data.store;
            },
            state() {
                return this.$root.$data.store.state;
            },
            updateUserData() {
                let data = {
                    email: this.editableUser.email,
                    password: this.editableUser.password,
                    daily_calorie_limit: this.editableUser.daily_calorie_limit,
                    is_user_manager: this.editableUser.is_user_manager,
                }

                if (this.state.user.is_admin) {
                    data.is_admin = this.editableUser.is_admin;
                }

                return data;
            }
        }
    }
</script>
