<template>
    <div class="px-2 md:px-0">
        <router-link :to="{path:'/app'}" class="text-2xl no-underline text-teal">Calorie Counter</router-link>
        <div class="w-8 border-2 border-b border-teal my-2"></div>

        <transition name="fade" mode="out-in">
            <router-view></router-view>
        </transition>
        <div class="my-8 text-xs text-right text-grey-dark">Michael Stivala</div>
    </div>
</template>

<script>
    export default {
        computed: {
            state() {
                return this.$root.$data.store.state;
            }
        }
    }
</script>
