<template>
    <div class="mb-4">
        <p class="my-8 leading-normal">
            You're logged in as <strong class="text-teal">{{ state.user.email }}</strong>! <a href="#" class="text-teal" @click.prevent="logout()">Logout</a> from here. Your daily calorie limit is set to <strong class="text-teal">{{ state.user.daily_calorie_limit }}</strong> - you can change it from <router-link :to="{path:'/profile'}" class="text-teal">your profile</router-link> page.
        </p>
        <p v-if="state.user.is_admin || state.user.is_user_manager" class="my-8 border border-teal bg-white p-4">
            You can manage other users from the <router-link :to="{path:'/users'}" class="text-teal">user management</router-link> page.
        </p>

        <meal-create-form
            class="bg-white shadow rounded p-4 my-2"
            v-on:meal-created="whenMealIsCreated"
            :user="state.user"
        ></meal-create-form>

        <meal-index-filters
            v-model="filters"
            :errors="errors"
        ></meal-index-filters>

        <div class="text-sm font-bold text-grey-darker my-8 border-b-2 inline-block pb-2">
            <span v-if="loading">Loading...</span>
            <span v-if="!loading && response">Showing {{ Math.min(response.total, response.per_page * response.current_page) }} of {{ response.total }} Meals</span>
        </div>

        <meal-index
            :meals="meals"
            :user="state.user"
            v-on:meal-deleted="whenMealIsDeleted"
            v-on:meal-updated="whenMealIsUpdated"
        ></meal-index>

        <div class="text-center my-4">
            <a href="#" class="no-underline bg-blue px-4 py-2 font-bold text-white inline-block rounded-full" v-if="next_page_url && !loading" @click.prevent="appendNextPage()">Load more...</a>
        </div>
    </div>
</template>

<script>
    import api from '../../api';
    import store from '../../store';
    export default {
        beforeRouteEnter(to, from, next) {
            if (! store.state.user) {
                Vue.toasted
                    .show("You need to be logged in to do that.")
                    .goAway(3000);
                return next({path: '/login'});
            }
            next();
        },
        data() {
            return {
                loading: false,
                meals: [],
                next_page_url: '',
                response: {},
                errors: {},
                filters: {},
            }
        },
        mounted() {
            this.fetchMeals();
        },
        watch: {
            filters() {
                this.fetchMeals()
            }
        },
        methods: {
            logout() {
                api.logout().then(function (response) {
                 this.store.setUser(null)
                 this.$router.push({path: '/'})
                }.bind(this));
            },
            fetchMeals() {
                if (this.loading) return;
                this.loading = true;

                api.getUserMeals(this.state.user.id, this.filters).then(function (response) {
                    this.meals = response.data.data;
                    this.next_page_url = response.data.next_page_url;
                    this.response = response.data;
                    this.loading = false;
                }.bind(this));
            },
            appendNextPage() {
                if (this.loading) return;
                this.loading = true;
                axios.get(this.next_page_url).then(function (response) {
                    this.meals = this.meals.concat(response.data.data);
                    this.next_page_url = response.data.next_page_url;
                    this.response = response.data;
                    this.loading = false;
                }.bind(this));
            },
            whenMealIsCreated(meal) {
                this.$toasted
                    .show('Your meal "' + meal.text + "' has been saved!")
                    .goAway(3000);
                this.fetchMeals();
            },
            whenMealIsDeleted(meal) {
                this.$toasted
                    .show('Your meal "' + meal.text + "' has been deleted!")
                    .goAway(3000);
                this.fetchMeals();
            },
            whenMealIsUpdated(meal) {
                this.$toasted
                    .show('Your meal "' + meal.text + "' has been updated!")
                    .goAway(3000);
                this.fetchMeals();
            }
        },
        computed: {
            store() {
                return this.$root.$data.store;
            },
            state() {
                return this.$root.$data.store.state;
            }
        }
    }
</script>
