<template>
    <div>
        <p class="my-8 leading-normal">You're editing your profile page. Go <router-link :to="{path:'/app'}" class="text-teal">back to the app</router-link> when you're done.</p>

        <div class="bg-white shadow rounded p-4 my-8">
            <h3 class="text-bold text-teal">Daily Calorie Limit</h3>
            <form class="mt-6 flex flex-wrap -mx-4" autocomplete="off" @submit.prevent="updateDailyCalorieLimit()" :disabled="updatingDailyCalorieLimit">
                <div class="mb-4 w-full px-4">
                    <label class="block text-grey-darker text-sm font-bold mb-2" for="daily-calorie-limit">
                        Daily Calorie Limit
                    </label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker leading-tight" :class="{'border-red': errors.daily_calorie_limit}" id="daily-calorie-limit" type="number"  v-model="dailyCalorieLimit" :placeholder="state.user.daily_calorie_limit">
                    <p v-if="errors.daily_calorie_limit" class="text-red text-xs italic mt-3">{{ errors.daily_calorie_limit[0] }}</p>
                </div>
                <div class="px-4 text-right w-full">
                    <button class="bg-teal hover:bg-teal-dark text-white font-bold py-2 px-4 rounded" type="submit" v-html="updatingDailyCalorieLimit ? 'Saving...' : 'Update Daily Calorie Limit'">
                    </button>
                </div>
            </form>
        </div>

        <div class="bg-white shadow rounded p-4 my-8">
            <h3 class="text-bold text-teal">Update Email Address</h3>
            <form class="mt-6 flex flex-wrap -mx-4" autocomplete="off" @submit.prevent="updateEmail()" :disabled="updatingEmail">
                <div class="mb-4 w-full px-4">
                    <label class="block text-grey-darker text-sm font-bold mb-2" for="email">
                        Email
                    </label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker leading-tight" :class="{'border-red': errors.email}" id="email" type="email"  v-model="email" :placeholder="state.user.email">
                    <p v-if="errors.email" class="text-red text-xs italic mt-3">{{ errors.email[0] }}</p>
                </div>
                <div class="px-4 text-right w-full">
                    <button class="bg-teal hover:bg-teal-dark text-white font-bold py-2 px-4 rounded" type="submit" v-html="updatingEmail ? 'Saving...' : 'Update Email'">
                    </button>
                </div>
            </form>
        </div>

        <div class="bg-white shadow rounded p-4 my-8">
            <h3 class="text-bold text-teal">Update Password</h3>
            <form class="mt-6 flex flex-wrap -mx-4" autocomplete="off" @submit.prevent="updatePassword()" :disabled="updatingPassword">
                <div class="mb-4 w-full px-4">
                    <label class="block text-grey-darker text-sm font-bold mb-2" for="password">
                        Password
                    </label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker leading-tight" :class="{'border-red': errors.password}" id="password" type="password"  v-model="password" placeholder="*****************">
                    <p v-if="errors.password" class="text-red text-xs italic mt-3">{{ errors.password[0] }}</p>
                </div>
                <div class="px-4 text-right w-full">
                    <button class="bg-teal hover:bg-teal-dark text-white font-bold py-2 px-4 rounded" type="submit" v-html="updatingPassword ? 'Saving...' : 'Update Password'">
                    </button>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
    import api from '../../api';
    import store from '../../store';
    export default {
        beforeRouteEnter(to, from, next) {
            if (! store.state.user) {
                Vue.toasted
                    .show("You need to be logged in to do that.")
                    .goAway(3000);
                return next({path: '/login'});
            }
            next();
        },
        data() {
            return {
                updatingEmail: false,
                updatingPassword: false,
                updatingDailyCalorieLimit: false,
                email: "",
                password: "",
                dailyCalorieLimit: null,
                errors: {},
            }
        },
        methods: {
            updateEmail() {
                if (this.updatingEmail) return;
                this.updatingEmail = true;
                this.errors = {};
                api.updateUser(this.state.user.id, {
                    email: this.email,
                }).then(function (response) {
                    this.email = '';
                    this.store.setUser(response.data);
                    this.updatingEmail = false;
                    this.$toasted
                        .show('Your Email address has been updated')
                        .goAway(3000);
                }.bind(this)).catch (function (error) {
                    this.errors = error.response.data.errors;
                    this.updatingEmail = false;
                }.bind(this));
            },
            updatePassword() {
                if (this.updatingPassword) return;
                this.updatingPassword = true;
                this.errors = {};
                api.updateUser(this.state.user.id, {
                    password: this.password,
                }).then(function (response) {
                    this.password = '';
                    this.updatingPassword = false;
                    this.$toasted
                        .show('Your password has been updated')
                        .goAway(3000);
                }.bind(this)).catch (function (error) {
                    this.errors = error.response.data.errors;
                    this.updatingPassword = false;
                }.bind(this));
            },
            updateDailyCalorieLimit() {
                if (this.updatingDailyCalorieLimit) return;
                this.updatingDailyCalorieLimit = true;
                this.errors = {};
                api.updateUser(this.state.user.id, {
                    daily_calorie_limit: this.dailyCalorieLimit,
                }).then(function (response) {
                    this.dailyCalorieLimit = '';
                    this.updatingDailyCalorieLimit = false;
                    this.store.setUser(response.data);
                    this.$toasted
                        .show('Your daily calorie limit has been updated')
                        .goAway(3000);
                }.bind(this)).catch (function (error) {
                    this.errors = error.response.data.errors;
                    this.updatingDailyCalorieLimit = false;
                }.bind(this));
            }
        },
        computed: {
            store() {
                return this.$root.$data.store;
            },
            state() {
                return this.$root.$data.store.state;
            }
        }
    }
</script>
