<template>
    <div>
        <p class="mt-8">Welcome to Toptal's Calorie counter! Please <router-link class="text-blue" :to="{path: '/login'}">login</router-link> or <router-link class="text-blue" :to="{path: '/register'}">register</router-link> to use the app.</p>
    </div>
</template>

<script>
    import store from '../../store';
    export default {
        beforeRouteEnter(to, from, next) {
            if (store.state.user) {
                return next({path: '/app'});
            }

            return next();
        },
        computed: {
            state() {
                return this.$root.store.state;
            }
        }
    }
</script>
