<template>
    <div>
        <div class="">
            <h2 class="my-4 text-lg text-teal">Reset Password</h2>
            <form class="pb-8 mb-4" @submit.prevent="submit()">
                <div class="mb-4">
                    <label class="block text-grey-darker text-sm font-bold mb-2" for="username">
                        Email
                    </label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker leading-tight" :class="{'border-red': errors.email}" id="email" type="email" placeholder="Email" v-model="email">
                    <p v-if="errors.email" class="text-red text-xs italic mt-3">{{ errors.email[0] }}</p>
                </div>
                <div class="mb-4">
                    <label class="block text-grey-darker text-sm font-bold mb-2" for="password">
                        Password
                    </label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker mb-3 leading-tight" :class="{'border-red': errors.password}"  id="password" type="password" placeholder="******************" v-model="password">
                    <p v-if="errors.password" class="text-red text-xs italic mt-3">{{ errors.password[0] }}</p>
                </div>
                <div class="mb-4">
                    <label class="block text-grey-darker text-sm font-bold mb-2" for="password-confirmation">
                        Password Confirmation
                    </label>
                    <input class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker mb-3 leading-tight"  id="password-confirmation" type="password" placeholder="******************" v-model="passwordConfirmation">
                </div>
                <div class="flex items-center justify-between">
                    <button class="bg-teal hover:bg-teal-dark text-white font-bold py-2 px-4 rounded" type="submit">
                        {{ loading ? 'Sending...' : 'Reset Password' }}
                    </button>
                    <div>
                        <router-link :to="{path: '/login'}" class="inline-block align-baseline font-bold text-sm text-teal hover:text-teal-darker">
                            Login
                        </router-link>
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
    import api from '../../api';
    import store from '../../store';
    export default {
        beforeRouteEnter(to, from, next) {
            if (store.state.user) {
                return next({path: '/app'});
            }
            next();
        },
        data() {
            return {
                loading: false,
                email: '',
                password: '',
                passwordConfirmation: '',
                errors: {}
            }
        },
        methods: {
            submit() {
                this.loading = true;
                this.errors = {};
                api.resetPassword({
                    email: this.email,
                    password: this.password,
                    password_confirmation: this.passwordConfirmation,
                    token: this.$route.params.id
                })
                    .then(function (response) {
                        this.$toasted
                            .show("Your password has been successfully reset.")
                            .goAway(3000);
                        this.store.setUser(response.data.user);
                        this.$router.push({path: '/app'});
                        this.loading = false;
                    }.bind(this))
                    .catch(function (error) {
                        this.errors = error.response.data.errors;
                        this.loading = false;
                    }.bind(this))
            }
        },
        computed: {
            store() {
                return this.$root.store;
            }
        }
    }
</script>
