<template>
    <div class="mb-4" v-if="user">
        <p class="my-8 leading-normal">
            You are managing the user with e-mail address <strong class="text-teal">{{ user.email }}</strong>. Their daily calorie limit is set to <strong class="text-teal">{{ user.daily_calorie_limit }}</strong>.
        </p>

        <p class="my-8 border border-teal bg-white p-4">
            You can manage other users from the <router-link :to="{path:'/users'}" class="text-teal">user management</router-link> page.
        </p>


        <meal-create-form
            class="bg-white shadow rounded p-4 my-2"
            v-on:meal-created="whenMealIsCreated"
            :user="user"
        ></meal-create-form>

        <meal-index-filters
            v-model="filters"
            :errors="errors"
        ></meal-index-filters>

        <div class="text-sm font-bold text-grey-darker my-8 border-b-2 inline-block pb-2">
            <span v-if="loading">Loading...</span>
            <span v-if="!loading && response">Showing {{ Math.min(response.total, response.per_page * response.current_page) }} of {{ response.total }} Meals</span>
        </div>

        <meal-index
            :meals="meals"
            :user="user"
            v-on:meal-deleted="whenMealIsDeleted"
            v-on:meal-updated="whenMealIsUpdated"
        ></meal-index>

        <div class="text-center my-4">
            <a href="#" class="no-underline bg-blue px-4 py-2 font-bold text-white inline-block rounded-full" v-if="next_page_url && !loading" @click.prevent="appendNextPage()">Load more...</a>
        </div>
    </div>
</template>

<script>
    import api from '../../api';
    import store from '../../store';
    export default {
        beforeRouteEnter(to, from, next) {
            if (! store.state.user) {
                Vue.toasted
                    .show("You need to be logged in to do that.")
                    .goAway(3000);
                return next({path: '/login'});
            }

            if (! store.state.user.is_admin) {
                Vue.toasted
                    .show("You don't have permission to visit that page.")
                    .goAway(3000);
                return next(from.path);
            }

            return next();
        },
        beforeRouteUpdate (to, from, next) {
            console.log('route updated');
            api.getUser(to.params.id).then(function(response) {
                this.user = response.data;
                this.meals = [];
                this.fetchMeals();
                next();
            }.bind(this)).catch(function (error) {
                this.$toasted
                    .show("A user with id '" + to.params.id + "' could not be found")
                    .goAway(3000);
                next(false);
            }.bind(this))
        },
        mounted() {
            api.getUser(this.$route.params.id).then(function(response) {
                this.user = response.data;
                this.fetchMeals();
            }.bind(this)).catch(function (error) {
                this.$toasted
                    .show("A user with id '" + this.$route.params.id + "' could not be found")
                    .goAway(3000);
                return this.$router.push({path: '/users'});
            }.bind(this))
        },
        data() {
            return {
                loading: false,
                meals: [],
                next_page_url: '',
                response: {},
                errors: {},
                filters: {},
                user: null
            }
        },
        watch: {
            filters() {
                this.fetchMeals()
            }
        },
        methods: {
            fetchUser() {

            },
            fetchMeals() {
                if (this.loading) return;
                this.loading = true;

                api.getUserMeals(this.$route.params.id, this.filters).then(function (response) {
                    this.meals = response.data.data;
                    this.next_page_url = response.data.next_page_url;
                    this.response = response.data;
                    this.loading = false;
                }.bind(this));
            },
            appendNextPage() {
                if (this.loading) return;
                this.loading = true;
                axios.get(this.next_page_url).then(function (response) {
                    this.meals = this.meals.concat(response.data.data);
                    this.next_page_url = response.data.next_page_url;
                    this.response = response.data;
                    this.loading = false;
                }.bind(this));
            },
            whenMealIsCreated(meal) {
                this.$toasted
                    .show('The meal "' + meal.text + "' has been saved!")
                    .goAway(3000);
                this.fetchMeals();
            },
            whenMealIsDeleted(meal) {
                this.$toasted
                    .show('The meal "' + meal.text + "' has been deleted!")
                    .goAway(3000);
                this.fetchMeals();
            },
            whenMealIsUpdated(meal) {
                this.$toasted
                    .show('The meal "' + meal.text + "' has been updated!")
                    .goAway(3000);
                this.fetchMeals();
            }
        },
        computed: {
            store() {
                return this.$root.$data.store;
            },
            state() {
                return this.$root.$data.store.state;
            }
        }
    }
</script>
