<template>
    <div class="mb-4">
        <p class="my-8 leading-normal">
            This is the <strong class="text-teal">user management section</strong>. You can <router-link :to="{path:'/app'}" class="text-teal">return to the app</router-link> when you're done.
        </p>

        <user-create-form
            class="bg-white shadow rounded p-4 my-2"
            v-on:user-created="whenUserIsCreated"
        ></user-create-form>

        <user-index
            :users="users"
            v-on:user-deleted="whenUserIsDeleted"
            v-on:user-updated="whenUserIsUpdated"
        ></user-index>

        <div class="text-center my-4">
            <a href="#" class="no-underline bg-blue px-4 py-2 font-bold text-white inline-block rounded-full" v-if="next_page_url && !loading" @click.prevent="appendNextPage()">Load more...</a>
        </div>
    </div>
</template>

<script>
    import api from '../../api';
    import store from '../../store';
    export default {
        beforeRouteEnter(to, from, next) {
            if (! store.state.user) {
                Vue.toasted
                    .show("You need to be logged in to do that.")
                    .goAway(3000);
                return next({path: '/login'});
            }
            if (store.state.user.is_user_manager || store.state.user.is_admin) {
                return next();
            }

            Vue.toasted
                .show("You don't have permission to visit that page.")
                .goAway(3000);
            return next(from.path);
        },
        data() {
            return {
                loading: false,
                users: [],
                next_page_url: '',
                response: {},
                errors: {},
            }
        },
        mounted() {
            this.fetchUsers();
        },
        methods: {

            fetchUsers() {
                if (this.loading) return;
                this.loading = true;

                api.getUsers().then(function (response) {
                    this.users = response.data.data;
                    this.next_page_url = response.data.next_page_url;
                    this.response = response.data;
                    this.loading = false;
                }.bind(this));
            },
            appendNextPage() {
                if (this.loading) return;
                this.loading = true;
                axios.get(this.next_page_url).then(function (response) {
                    this.users = this.users.concat(response.data.data);
                    this.next_page_url = response.data.next_page_url;
                    this.response = response.data;
                    this.loading = false;
                }.bind(this));
            },
            whenUserIsCreated(user) {
                this.$toasted
                    .show('The user "' + user.email + "' has been saved!")
                    .goAway(3000);
                this.fetchUsers();
            },
            whenUserIsDeleted(user) {
                this.$toasted
                    .show('The user "' + user.email + "' has been deleted!")
                    .goAway(3000);
                this.fetchUsers();
            },
            whenUserIsUpdated(user) {
                this.$toasted
                    .show('The user "' + user.email + "' has been updated!")
                    .goAway(3000);
                this.fetchUsers();
            }
        },
        computed: {
            store() {
                return this.$root.$data.store;
            },
            state() {
                return this.$root.$data.store.state;
            }
        }
    }
</script>
